@page
@model F1Tipping.Pages.Admin.Data.IndexModel
@{
    ViewData["Title"] = "Tipping Data";
}

@using F1Tipping.Model

<a asp-page="Results/Index" class="row">Rounds</a>
<a asp-page="Rounds/Index" class="row">Rounds</a>
<a asp-page="Teams/Index" class="row">Teams</a>
<a asp-page="Drivers/Index" class="row">Drivers</a>

@if (!Model.Events.Any())
{
    <a asp-page-handler="SeedData" class="btn btn-primary">Seed Data</a>
}
else
{
    <table>
        <tr>
            <th>
                Year
            </th>
            <th>
                Round
            </th>
            <th>
                Round Title
            </th>
            <th>
                Event Type
            </th>
            <th>
                Quali Start
            </th>
            <th>
                Race Start
            </th>
            <th>
                Players Who Have Submitted Tips
            </th>
        </tr>
        @foreach (var @event in Model.Events)
        {
            string[] players;
            <tr>
                @switch (@event)
                {
                    case Season season:
                        <td>
                            @Html.DisplayFor(_ => season.Year)
                        </td>
                        <td></td>
                        <td></td>
                        <td>(Season)</td>
                        <td></td>
                        <td></td>
                        <td>
                            @if (Model.PlayersWithTips.TryGetValue(season.Id, out players!))
                            {
                                @(string.Join(", ", players))
                            }
                        </td>
                        break;
                    case Race race:
                        <td>
                            @Html.DisplayFor(_ => race.Weekend.Season.Year)
                        </td>
                        <td>
                            @Html.DisplayFor(_ => race.Weekend.Index)
                        </td>
                        <td>
                            @Html.DisplayFor(_ => race.Weekend.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(_ => race.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(_ => race.QualificationStart)
                        </td>
                        <td>
                            @Html.DisplayFor(_ => race.RaceStart)
                        </td>
                        <td>
                            @if (Model.PlayersWithTips.TryGetValue(race.Id, out players!))
                            {
                                @(string.Join(", ", players))
                            }
                        </td>
                        break;
                }
            </tr>
        }
    </table>
}
