@page
@using F1Tipping.Model
@model F1Tipping.Pages.Tipping.FullScoresModel
@{
    ViewData["Title"] = "Full Scoreboard";
}

@foreach (var e in Model.Events)
{
    <table class="table">
        <tr>
            <th colspan="2">@(e.Name)</th>
            @foreach (var p in Model.Players)
            {
                <th class="@(e.Results.Any()?"border-bottom-0":"")" colspan="2">@(p.Name)</th>
            }
        </tr>
        @foreach (var r in e.Results.OrderBy(r => r.Type))
        {
            <tr>
                <td>
                    @Html.DisplayFor(_ => r.Type)
                </td>
                <td>
                    @if (r is MultiEntityResult mer)
                    {
                        @(string.Join(", ", mer.ResultHolders?.Select(rh => rh.DisplayName) ?? ["No Result."]))
                    }
                    else
                    {
                        @(r.ResultHolder?.DisplayName ?? "No Result.")
                    }
                </td>
                @foreach (var p in Model.Players)
                {
                    var finalPlayer = Model.Players.Last() == p;

                    if (Model.Reports.TryGetValue((p.Id, e.Id), out var report)
                        && report.ScoredTips.TryGetValue(r.Type, out var scoredTip))
                    {
                        <td class="border-start border-top @(scoredTip.Score!=0m?"table-success border-success":"")">
                            @(scoredTip.Tip.Selection.ShortDisplayName)
                        </td>
                        <td class="border-top @(!finalPlayer?"border-end":"") @(scoredTip.Score!=0m?"table-success border-success":"")">
                            @(scoredTip.Score)
                        </td>
                    }
                    else
                    {
                        <td class="border-start border-top @(!finalPlayer?"border-end":"")" colspan="2">
                            No tip.
                        </td>
                    }
                }
            </tr>
        }
        <tr>
            <td colspan="2">Event Score</td>
            @foreach (var p in Model.Players)
            {
                if (Model.Reports.TryGetValue((p.Id, e.Id), out var report))
                {
                    <td></td>
                    <td>
                        @(report.EventScore)
                    </td>
                }
                else
                {
                    <td colspan="2"></td>
                }
            }
        </tr>
    </table>
}
