@page
@model F1Tipping.Pages.Tipping.FullScoresModel
@{
}

@foreach (var e in Model.Events)
{
    <table class="table">
        <tr>
            <th colspan="2">@(e.Name)</th>
            @foreach (var p in Model.Players)
            {
                <th colspan="2">@(p.Name)</th>
            }
        </tr>
        @foreach (var r in e.Results.OrderBy(r => r.Type))
        {
            <tr>
                <td>
                    @Html.DisplayFor(_ => r.Type)
                </td>
                <td>
                    @(r.ResultHolder?.DisplayName ?? "No Result.")
                </td>
                @foreach (var p in Model.Players)
                {
                    <!-- This is gotta be pretty slow. Rework this into a list? -->
                    if (Model.Reports.TryGetValue((p.Id, e.Id), out var report)
                        && report.ScoredTips.TryGetValue(r.Type, out var scoredTip))
                    {
                        <td>
                            @(scoredTip.Tip.Selection.DisplayName)
                        </td>
                        <td>
                            @(scoredTip.Score)
                        </td>
                    }
                    else
                    {
                        <td colspan="2">No tip.</td>
                    }
                }
            </tr>
        }
        <tr>
            <td colspan="2">Event Score</td>
            @foreach (var p in Model.Players)
            {
                <!-- This is gotta be pretty slow. Rework this into a list? -->
                if (Model.Reports.TryGetValue((p.Id, e.Id), out var report))
                {
                    <td></td>
                    <td>
                        @(report.EventScore)
                    </td>
                }
                else
                {
                    <td colspan="2"></td>
                }
            }
        </tr>
    </table>
}
