@page
@model F1Tipping.Pages.Tipping.ScoreboardModel
@{
    ViewData["Title"] = "Scoreboard";
}
@functions
{
    public void Cells(Func<Model.ResultType,string> contentsBuilder, ScoreboardModel.EventView? eventView, string classString = "", bool header = false)
    {
        // To avoid closures, make the given builder function the "data" T2 object and execute it
        Func<Model.ResultType, Func<Model.ResultType, string>, string> executeBuilder = (arg, builder) => builder(arg);
        Cells(executeBuilder, eventView, contentsBuilder, classString, header);
    }

    public void Cells<T>(Func<Model.ResultType,T,string> contentsBuilder, ScoreboardModel.EventView? eventView, T data, string classString = "", bool header = false)
    {
        if (eventView is not null)
        {
            foreach (var rt in eventView.Results)
            {
                Cell(contentsBuilder, rt, eventView.Results, data, classString, header);
            }
        }
    }

    public void Cell<T>(Func<T,string> contentsBuilder, T key, List<T> fullList, string classString = "", bool header = false)
    where T : Enum
    {
        // To avoid closures, make the given builder function the "data" T2 object and execute it
        Func<T, Func<T, string>, string> executeBuilder = (arg, builder) => builder(arg);
        Cell(executeBuilder, key, fullList, contentsBuilder, classString, header);
    }

    public void Cell<T1,T2>(Func<T1,T2,string> contentsBuilder, T1 key, List<T1> fullList, T2 data, string classString = "", bool header = false)
    where T1 : Enum
    {
        var content = contentsBuilder(key, data);
        classString += (key.Equals(fullList.FirstOrDefault()) ? " border-start " : string.Empty);
        classString += (key.Equals(fullList.LastOrDefault()) ? " border-end " : string.Empty);
        if (header)
        {
            <th class=@(classString)>
                @content
            </th>
        }
        else
        {
            <td class=@(classString)>
                @content
            </td>
        }
    }
}

<h1>Scoreboard</h1>

<div class="scoreboard">
    <table class="table">
        <thead>
            <tr>
                @{
                    var sprintCols = Model.CurrentSprintRace?.Results.Count ?? 0;
                    var mainCols = Model.CurrentMainRace?.Results.Count ?? 0;
                    var seasonCols = Model.Season?.Results.Count ?? 0;
                    <th colspan=@($"{(Model.PreviousRoundTitle is not null ? 2 : 1)}")>
                        @(Model.CurrentRoundTitle)
                    </th>
                    if (sprintCols != 0)
                    {
                        <th colspan="@sprintCols" class="multicol-header border-start border-end">
                            @(Model.CurrentSprintRace!.Name)
                        </th>
                    }
                    if (mainCols != 0)
                    {
                        <th colspan="@mainCols" class="multicol-header border-start border-end">
                            @(Model.CurrentMainRace!.Name)
                        </th>
                    }
                    if (seasonCols != 0)
                    {
                        <th colspan="@seasonCols" class="multicol-header border-start border-end">
                            @(Model.Season!.Name)
                        </th>
                    }
                    <th />
                }
            </tr>

            <tr>
                <th>
                    Player
                </th>
                @if (Model.PreviousRoundTitle is not null)
                {
                    <th>
                        <span class="show-lg">After @(Model.PreviousRoundTitle)</span>
                        <span class="show-md">Prev.</span>
                    </th>
                }
                @{
                    Cells((rt) => rt.ShortName(), Model.CurrentSprintRace, header: true);
                    Cells((rt) => rt.ShortName(), Model.CurrentMainRace, header: true);
                    Cells((rt) => rt.ShortName(), Model.Season, header: true);
                }
                <th>
                    Current
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var ps in Model.PlayerScores)
            {
                <tr>
                    <td>
                        @ps.Name
                    </td>
                    @if (Model.PreviousRoundTitle is not null)
                    {
                        <td>
                            @ps.ScoreData.AllRoundsBedoreCurrent
                        </td>
                    }
                    @{
                        Cells((rt, tips) => tips?.GetValueOrDefault(rt)?.Score.ToString() ?? string.Empty, Model.CurrentSprintRace, ps.ScoreData.CurrentRoundSprintRace?.ScoredTips);
                        Cells((rt, tips) => tips?.GetValueOrDefault(rt)?.Score.ToString() ?? string.Empty, Model.CurrentMainRace, ps.ScoreData.CurrentRoundMainRace?.ScoredTips);
                        Cells((rt, tips) => tips?.GetValueOrDefault(rt)?.Score.ToString() ?? string.Empty, Model.Season, ps.ScoreData.Championship?.ScoredTips);
                    }
                    <td>
                        @ps.SummedScore
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
