@page
@model F1Tipping.Pages.Tipping.ScoreboardModel
@{
    ViewData["Title"] = "Scoreboard";

    // It's lazy but it'll do for now
    var pinFirstColumn = true;
    var pinLastColumn = true;

    var detailedViewClassString = "detailed-view";
    var simpleViewClassString = "simple-view border-start border-end";
}
@functions
{
    public void Cells(Func<Model.ResultType,string> contentsBuilder, ScoreboardModel.EventView? eventView, string classString = "", bool header = false)
    {
        // To avoid closures, make the given builder function the "data" T2 object and execute it
        Func<Model.ResultType, Func<Model.ResultType, string>, string> executeBuilder = (arg, builder) => builder(arg);
        Cells(executeBuilder, eventView, contentsBuilder, classString, header);
    }

    public void Cells<T>(Func<Model.ResultType,T,string> contentsBuilder, ScoreboardModel.EventView? eventView, T data, string classString = "", bool header = false)
    {
        if (eventView is not null)
        {
            foreach (var rt in eventView.Results)
            {
                Cell(contentsBuilder, rt, eventView.Results, data, classString, header);
            }
        }
    }

    public void Cell<T>(Func<T,string> contentsBuilder, T key, List<T> fullList, string classString = "", bool header = false)
    where T : Enum
    {
        // To avoid closures, make the given builder function the "data" T2 object and execute it
        Func<T, Func<T, string>, string> executeBuilder = (arg, builder) => builder(arg);
        Cell(executeBuilder, key, fullList, contentsBuilder, classString, header);
    }

    public void Cell<T1,T2>(Func<T1,T2,string> contentsBuilder, T1 key, List<T1> fullList, T2 data, string classString = "", bool header = false)
    where T1 : Enum
    {
        var content = contentsBuilder(key, data);
        classString += (key.Equals(fullList.FirstOrDefault()) ? " border-start " : string.Empty);
        classString += (key.Equals(fullList.LastOrDefault()) ? " border-end " : string.Empty);
        RenderCell(content, classString, header);
    }

    public void RenderCell(string? content, string classString, bool header)
    {
        if (content is null)
        {
            return;
        }

        if (header)
        {
            <th class="@(classString.Trim())">
                @content
            </th>
        }
        else
        {
            <td class="@(classString.Trim())">
                @content
            </td>
        }
    }
}

<h1>Scoreboard</h1>

<div class="scoreboard-wrap">
    <div class="scoreboard-ctrl col-3">
        <input id="detailed-view-ctrl" class="form-check-inline" type="checkbox" />
        <label for="detailed-view-ctrl" class="form-check-label">Show Event Score Breakdown</label>
    </div>
    <div class="scoreboard">
        @if (pinFirstColumn)
        {
            <table class="table" style="float: left;">
                <thead>
                    <tr>
                        <th colspan=@($"{(Model.PreviousRoundTitle is not null ? 2 : 1)}")>
                            @if (!string.IsNullOrEmpty(Model.CurrentRoundTitle))
                            {
                                @(Model.CurrentRoundTitle)
                            }
                            else
                            {
                                @:&nbsp;
                            }
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Player
                        </th>
                        @if (Model.PreviousRoundTitle is not null)
                        {
                            <th>
                                <span class="show-lg">Previous</span>
                                <span class="show-md">Prev.</span>
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ps in Model.PlayerScores)
                    {
                        <tr>
                            @{
                                RenderCell(ps.Name, string.Empty, false);
                                if (Model.PreviousRoundTitle is not null)
                                {
                                    RenderCell(ps.ScoreData.AllRoundsBedoreCurrent.ToString(), "numeric", false);
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }

        <div class="middle-table-wrapper">
            <table class="table" style="float: left;">
                <thead>
                    <tr>
                        @{
                            var sprintCols = Model.CurrentSprintRace?.Results.Count ?? 0;
                            var mainCols = Model.CurrentMainRace?.Results.Count ?? 0;
                            var seasonCols = Model.Season?.Results.Count ?? 0;
                            if (!pinFirstColumn)
                            {
                                <th colspan=@($"{(Model.PreviousRoundTitle is not null ? 2 : 1)}")>
                                    @if (!string.IsNullOrEmpty(Model.CurrentRoundTitle))
                                    {
                                        @(Model.CurrentRoundTitle)
                                    }
                                    else
                                    {
                                        @:&nbsp;
                                    }
                                </th>
                            }
                            if (sprintCols != 0)
                            {
                                <th colspan="@sprintCols" class="multicol-header border-start border-end @(detailedViewClassString)">
                                    @(Model.CurrentSprintRace!.Name)
                                </th>
                                <th class="@(simpleViewClassString)">
                                    @(Model.CurrentSprintRace!.Name)
                                </th>
                            }
                            if (mainCols != 0)
                            {
                                <th colspan="@mainCols" class="multicol-header border-start border-end @(detailedViewClassString)">
                                    @(Model.CurrentMainRace!.Name)
                                </th>
                                <th class="@(simpleViewClassString)">
                                    @(Model.CurrentMainRace!.Name)
                                </th>
                            }
                            if (seasonCols != 0)
                            {
                                <th colspan="@seasonCols" class="multicol-header border-start border-end">
                                    @(Model.Season!.Name)
                                </th>
                            }
                            if (!pinLastColumn)
                            {
                                <th />
                            }
                        }
                    </tr>

                    <tr>
                        @if (!pinFirstColumn)
                        {
                            <th>
                                Player
                            </th>
                            @if (Model.PreviousRoundTitle is not null)
                            {
                                <th>
                                    <span class="show-lg">After @(Model.PreviousRoundTitle)</span>
                                    <span class="show-md">Prev.</span>
                                </th>
                            }
                        }
                        @{
                            Cells((rt) => rt.ShortName(), Model.CurrentSprintRace, header: true, classString: detailedViewClassString);
                            RenderCell(Model.CurrentSprintRace?.Results.Any() ?? false ? "\u00A0" : null, simpleViewClassString, true);
                            Cells((rt) => rt.ShortName(), Model.CurrentMainRace, header: true, classString: detailedViewClassString);
                            RenderCell(Model.CurrentMainRace?.Results.Any() ?? false ? "\u00A0" : null, simpleViewClassString, true);
                            Cells((rt) => rt.ShortName(), Model.Season, classString: "numeric", header: true);
                        }
                        @if (!pinLastColumn)
                        {
                            <th>
                                Current
                            </th>
                        }
                    </tr>
                </thead>

                <tbody>
                    @foreach (var ps in Model.PlayerScores)
                    {
                        <tr>
                            @if (!pinFirstColumn)
                            {
                                RenderCell(ps.Name, string.Empty, false);
                                if (Model.PreviousRoundTitle is not null)
                                {
                                    RenderCell(ps.ScoreData.AllRoundsBedoreCurrent.ToString(), "numeric", false);
                                }
                            }
                            @{
                                Cells((rt, tips) => tips?.GetValueOrDefault(rt)?.Score.ToString() ?? "\u00A0", Model.CurrentSprintRace, ps.ScoreData.CurrentRoundSprintRace?.ScoredTips, classString: detailedViewClassString + " numeric");
                                RenderCell(ps.ScoreData.CurrentRoundSprintRace?.ScoredTips.Values.Sum(t => t.Score).ToString(), simpleViewClassString + " numeric", false);
                                Cells((rt, tips) => tips?.GetValueOrDefault(rt)?.Score.ToString() ?? "\u00A0", Model.CurrentMainRace, ps.ScoreData.CurrentRoundMainRace?.ScoredTips, classString: detailedViewClassString + " numeric");
                                RenderCell(ps.ScoreData.CurrentRoundMainRace?.ScoredTips.Values.Sum(t => t.Score).ToString(), simpleViewClassString + " numeric", false);
                                Cells((rt, tips) => tips?.GetValueOrDefault(rt)?.Score.ToString() ?? "\u00A0", Model.Season, ps.ScoreData.Championship?.ScoredTips, classString: "numeric");
                            }
                            @if (!pinLastColumn)
                            {
                                RenderCell(ps.SummedScore.ToString(), "numeric", false);
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        @if (pinLastColumn)
        {
            <table class="table" style="float: left;">
                <thead>
                    <tr><th>&nbsp;</th></tr>
                    <tr>
                        <th>
                            Current
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ps in Model.PlayerScores)
                    {
                        <tr>
                            @{
                                RenderCell(ps.SummedScore.ToString(), "numeric", false);
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
